@font-face { font-family: 'Avenir';
             src: url('fonts/AvenirNextLTPro-Regular.otf');
             font-weight: bold;
           }
html, body {
 overflow-y: hidden;
}

section {
 height: 100vh;
 margin-bottom: 45px;
}

.btn-primary{
  color: white;
  background-color: #363524;
  border-color: #363524;
  width: 216px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #67675B !important;
  border-color: #363524 !important;
  outline: none !important;
  box-shadow: none !important;
}

#splashNavBar {
 height: 55px;
 background-color: #98998B;
}
#playlistNavBar {
 height: 155px;
 background-color: #98998B;
}
#playlistHeader {
  padding-left: 55px;
  margin: 0px;
  font-size: 35px;
  color: white;
  font-family: 'Avenir';
}
#playlistSelection{
  padding-left: 55px;
  padding-right: 55px;
}

.albumsSelectedBox {
  height: 25vh;
  width: 90vw;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #EEEEEE;
  border-style: solid;
  border-width: thick;
}

.albumsSelectedText{
  height: 167px;
  padding-bottom: : 15px;
  overflow: auto;
}

.albumsSelectedText p {
  font-size: 20px;
  font-family: 'Avenir';
  padding-left: 5px;
  margin: 0;
}

.albumOverflow{
  min-width: 90vw;
  height: 150px;
  overflow-x: scroll;
  white-space:nowrap;
}

#horizontalImages img{
  width:145px;
  height: auto;
  padding-right: 35px;
  padding-top: 25px;
}

#splashFooter {
 height: 45px;
 background-color: #676859;
}

#copyrightInfo {
  padding-top: 5px;
  padding-left: 55px;
 font-size: 25px;
 color: white;
 font-family: 'Avenir';
}

#trackBinText{
  font-family: 'Avenir';
  font-size: 55px;
  color: purple;
  margin: 0px;
  text-align: center;
}

#indexAlbums{
  height: 85vh;
}
#indexAlbums img {

  width: 170px;
  height: auto;

}

.displayedAlbums::after {
  content: "";
  background: url('resources/track.jpg');
  background-size: 100vh auto;
  opacity: 0.19;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

hr {
   margin-top: 0;
   margin-bottom: 0px;
   border: 0;
   border-top: 2px solid #000000;
}
